@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-9e1oVCGoU91A_font-family: "Inter", sans-serif;
  --mixin-9e1oVCGoU91A_font-size: 16px;
  --mixin-9e1oVCGoU91A_font-weight: 400;
  --mixin-9e1oVCGoU91A_font-style: normal;
  --mixin-9e1oVCGoU91A_color: #535353;
  --mixin-9e1oVCGoU91A_text-align: left;
  --mixin-9e1oVCGoU91A_text-transform: none;
  --mixin-9e1oVCGoU91A_line-height: 1.5;
  --mixin-9e1oVCGoU91A_letter-spacing: normal;
  --mixin-9e1oVCGoU91A_white-space: pre-wrap;
  --mixin-9e1oVCGoU91A_user-select: text;
  --mixin-9e1oVCGoU91A_text-decoration-line: none;
  --mixin-9e1oVCGoU91A_text-overflow: clip;
  --mixin-pDxy-J6hZ4SN_color: #000000;
  --mixin-pDxy-J6hZ4SN_font-weight: 700;
  --mixin-pDxy-J6hZ4SN_font-size: 64px;
  --mixin-pDxy-J6hZ4SN_line-height: 1;
  --mixin-pDxy-J6hZ4SN_letter-spacing: -1px;
  --mixin-pDxy-J6hZ4SN_white-space: pre-wrap;
  --mixin-Zok2EIzqMh_J_color: #000000;
  --mixin-Zok2EIzqMh_J_font-size: 48px;
  --mixin-Zok2EIzqMh_J_font-weight: 700;
  --mixin-Zok2EIzqMh_J_letter-spacing: -0.5px;
  --mixin-Zok2EIzqMh_J_line-height: 1.1;
  --mixin-Zok2EIzqMh_J_white-space: pre-wrap;
  --mixin-Rtwt8hkKNPqG_color: #0070f3;
  --mixin-Rtwt8hkKNPqG_white-space: pre-wrap;
  --mixin-iT_i-nGilZaf_color: #000000;
  --mixin-iT_i-nGilZaf_font-size: 32px;
  --mixin-iT_i-nGilZaf_font-weight: 600;
  --mixin-iT_i-nGilZaf_line-height: 1.2;
  --mixin-iT_i-nGilZaf_white-space: pre-wrap;
  --mixin-PHHEKb8Ha4cv_color: #000000;
  --mixin-PHHEKb8Ha4cv_font-size: 24px;
  --mixin-PHHEKb8Ha4cv_font-weight: 600;
  --mixin-PHHEKb8Ha4cv_line-height: 1.3;
  --mixin-PHHEKb8Ha4cv_white-space: pre-wrap;
  --mixin-a-D4bqFmW_I0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-a-D4bqFmW_I0_border-bottom-color: #dddddd;
  --mixin-a-D4bqFmW_I0_border-bottom-style: solid;
  --mixin-a-D4bqFmW_I0_border-bottom-width: 1px;
  --mixin-a-D4bqFmW_I0_border-left-color: #dddddd;
  --mixin-a-D4bqFmW_I0_border-left-style: solid;
  --mixin-a-D4bqFmW_I0_border-left-width: 1px;
  --mixin-a-D4bqFmW_I0_border-right-color: #dddddd;
  --mixin-a-D4bqFmW_I0_border-right-style: solid;
  --mixin-a-D4bqFmW_I0_border-right-width: 1px;
  --mixin-a-D4bqFmW_I0_border-top-color: #dddddd;
  --mixin-a-D4bqFmW_I0_border-top-style: solid;
  --mixin-a-D4bqFmW_I0_border-top-width: 1px;
  --mixin-a-D4bqFmW_I0_border-bottom-left-radius: 3px;
  --mixin-a-D4bqFmW_I0_border-bottom-right-radius: 3px;
  --mixin-a-D4bqFmW_I0_border-top-left-radius: 3px;
  --mixin-a-D4bqFmW_I0_border-top-right-radius: 3px;
  --mixin-a-D4bqFmW_I0_font-family: "Inconsolata";
  --mixin-a-D4bqFmW_I0_padding-bottom: 1px;
  --mixin-a-D4bqFmW_I0_padding-left: 4px;
  --mixin-a-D4bqFmW_I0_padding-right: 4px;
  --mixin-a-D4bqFmW_I0_padding-top: 1px;
  --mixin-a-D4bqFmW_I0_white-space: pre-wrap;
  --mixin-PVD4mIrGRyre_border-left-color: #dddddd;
  --mixin-PVD4mIrGRyre_border-left-style: solid;
  --mixin-PVD4mIrGRyre_border-left-width: 3px;
  --mixin-PVD4mIrGRyre_color: #888888;
  --mixin-PVD4mIrGRyre_padding-left: 10px;
  --mixin-PVD4mIrGRyre_white-space: pre-wrap;
  --mixin-QvySFLPa8yP2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QvySFLPa8yP2_border-bottom-color: #dddddd;
  --mixin-QvySFLPa8yP2_border-bottom-style: solid;
  --mixin-QvySFLPa8yP2_border-bottom-width: 1px;
  --mixin-QvySFLPa8yP2_border-left-color: #dddddd;
  --mixin-QvySFLPa8yP2_border-left-style: solid;
  --mixin-QvySFLPa8yP2_border-left-width: 1px;
  --mixin-QvySFLPa8yP2_border-right-color: #dddddd;
  --mixin-QvySFLPa8yP2_border-right-style: solid;
  --mixin-QvySFLPa8yP2_border-right-width: 1px;
  --mixin-QvySFLPa8yP2_border-top-color: #dddddd;
  --mixin-QvySFLPa8yP2_border-top-style: solid;
  --mixin-QvySFLPa8yP2_border-top-width: 1px;
  --mixin-QvySFLPa8yP2_border-bottom-left-radius: 3px;
  --mixin-QvySFLPa8yP2_border-bottom-right-radius: 3px;
  --mixin-QvySFLPa8yP2_border-top-left-radius: 3px;
  --mixin-QvySFLPa8yP2_border-top-right-radius: 3px;
  --mixin-QvySFLPa8yP2_font-family: "Inconsolata";
  --mixin-QvySFLPa8yP2_padding-bottom: 3px;
  --mixin-QvySFLPa8yP2_padding-left: 6px;
  --mixin-QvySFLPa8yP2_padding-right: 6px;
  --mixin-QvySFLPa8yP2_padding-top: 3px;
  --mixin-QvySFLPa8yP2_white-space: pre-wrap;
  --mixin-6ka_JO_RUNsx_display: flex;
  --mixin-6ka_JO_RUNsx_flex-direction: column;
  --mixin-6ka_JO_RUNsx_align-items: stretch;
  --mixin-6ka_JO_RUNsx_justify-content: flex-start;
  --mixin-6ka_JO_RUNsx_list-style-position: outside;
  --mixin-6ka_JO_RUNsx_padding-left: 40px;
  --mixin-6ka_JO_RUNsx_position: relative;
  --mixin-6ka_JO_RUNsx_list-style-type: disc;
  --mixin-6ka_JO_RUNsx_white-space: pre-wrap;
  --mixin-MX9wKnitwcWh_display: flex;
  --mixin-MX9wKnitwcWh_flex-direction: column;
  --mixin-MX9wKnitwcWh_align-items: stretch;
  --mixin-MX9wKnitwcWh_justify-content: flex-start;
  --mixin-MX9wKnitwcWh_list-style-position: outside;
  --mixin-MX9wKnitwcWh_padding-left: 40px;
  --mixin-MX9wKnitwcWh_position: relative;
  --mixin-MX9wKnitwcWh_list-style-type: decimal;
  --mixin-MX9wKnitwcWh_white-space: pre-wrap;
  --mixin-K812YaIruCX0_color: #000000;
  --mixin-K812YaIruCX0_font-size: 20px;
  --mixin-K812YaIruCX0_font-weight: 600;
  --mixin-K812YaIruCX0_line-height: 1.5;
  --mixin-K812YaIruCX0_white-space: pre-wrap;
  --mixin-fR1Qs6XQFFja_color: #000000;
  --mixin-fR1Qs6XQFFja_font-size: 16px;
  --mixin-fR1Qs6XQFFja_font-weight: 600;
  --mixin-fR1Qs6XQFFja_line-height: 1.5;
  --mixin-fR1Qs6XQFFja_white-space: pre-wrap;
  --mixin-bAWJIIYw_d6__color: #3291ff;
  --mixin-bAWJIIYw_d6__white-space: pre-wrap;
  --mixin-kREdyyaonEuK_white-space: pre-wrap;
  --mixin-ylvuydH-6GXG_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-9e1oVCGoU91A_font-family);
  font-size: var(--mixin-9e1oVCGoU91A_font-size);
  font-weight: var(--mixin-9e1oVCGoU91A_font-weight);
  font-style: var(--mixin-9e1oVCGoU91A_font-style);
  color: var(--mixin-9e1oVCGoU91A_color);
  text-align: var(--mixin-9e1oVCGoU91A_text-align);
  text-transform: var(--mixin-9e1oVCGoU91A_text-transform);
  line-height: var(--mixin-9e1oVCGoU91A_line-height);
  letter-spacing: var(--mixin-9e1oVCGoU91A_letter-spacing);
  white-space: var(--mixin-9e1oVCGoU91A_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-pDxy-J6hZ4SN_color);
  font-weight: var(--mixin-pDxy-J6hZ4SN_font-weight);
  font-size: var(--mixin-pDxy-J6hZ4SN_font-size);
  line-height: var(--mixin-pDxy-J6hZ4SN_line-height);
  letter-spacing: var(--mixin-pDxy-J6hZ4SN_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Zok2EIzqMh_J_color);
  font-size: var(--mixin-Zok2EIzqMh_J_font-size);
  font-weight: var(--mixin-Zok2EIzqMh_J_font-weight);
  letter-spacing: var(--mixin-Zok2EIzqMh_J_letter-spacing);
  line-height: var(--mixin-Zok2EIzqMh_J_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Rtwt8hkKNPqG_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-iT_i-nGilZaf_color);
  font-size: var(--mixin-iT_i-nGilZaf_font-size);
  font-weight: var(--mixin-iT_i-nGilZaf_font-weight);
  line-height: var(--mixin-iT_i-nGilZaf_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-PHHEKb8Ha4cv_color);
  font-size: var(--mixin-PHHEKb8Ha4cv_font-size);
  font-weight: var(--mixin-PHHEKb8Ha4cv_font-weight);
  line-height: var(--mixin-PHHEKb8Ha4cv_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-a-D4bqFmW_I0_font-family);
  border-radius: var(--mixin-a-D4bqFmW_I0_border-top-left-radius)
    var(--mixin-a-D4bqFmW_I0_border-top-right-radius)
    var(--mixin-a-D4bqFmW_I0_border-bottom-right-radius)
    var(--mixin-a-D4bqFmW_I0_border-bottom-left-radius);
  padding: var(--mixin-a-D4bqFmW_I0_padding-top)
    var(--mixin-a-D4bqFmW_I0_padding-right)
    var(--mixin-a-D4bqFmW_I0_padding-bottom)
    var(--mixin-a-D4bqFmW_I0_padding-left);
  border-top: var(--mixin-a-D4bqFmW_I0_border-top-width)
    var(--mixin-a-D4bqFmW_I0_border-top-style)
    var(--mixin-a-D4bqFmW_I0_border-top-color);
  border-right: var(--mixin-a-D4bqFmW_I0_border-right-width)
    var(--mixin-a-D4bqFmW_I0_border-right-style)
    var(--mixin-a-D4bqFmW_I0_border-right-color);
  border-bottom: var(--mixin-a-D4bqFmW_I0_border-bottom-width)
    var(--mixin-a-D4bqFmW_I0_border-bottom-style)
    var(--mixin-a-D4bqFmW_I0_border-bottom-color);
  border-left: var(--mixin-a-D4bqFmW_I0_border-left-width)
    var(--mixin-a-D4bqFmW_I0_border-left-style)
    var(--mixin-a-D4bqFmW_I0_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-PVD4mIrGRyre_color);
  padding-left: var(--mixin-PVD4mIrGRyre_padding-left);
  border-left: var(--mixin-PVD4mIrGRyre_border-left-width)
    var(--mixin-PVD4mIrGRyre_border-left-style)
    var(--mixin-PVD4mIrGRyre_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QvySFLPa8yP2_font-family);
  border-radius: var(--mixin-QvySFLPa8yP2_border-top-left-radius)
    var(--mixin-QvySFLPa8yP2_border-top-right-radius)
    var(--mixin-QvySFLPa8yP2_border-bottom-right-radius)
    var(--mixin-QvySFLPa8yP2_border-bottom-left-radius);
  padding: var(--mixin-QvySFLPa8yP2_padding-top)
    var(--mixin-QvySFLPa8yP2_padding-right)
    var(--mixin-QvySFLPa8yP2_padding-bottom)
    var(--mixin-QvySFLPa8yP2_padding-left);
  border-top: var(--mixin-QvySFLPa8yP2_border-top-width)
    var(--mixin-QvySFLPa8yP2_border-top-style)
    var(--mixin-QvySFLPa8yP2_border-top-color);
  border-right: var(--mixin-QvySFLPa8yP2_border-right-width)
    var(--mixin-QvySFLPa8yP2_border-right-style)
    var(--mixin-QvySFLPa8yP2_border-right-color);
  border-bottom: var(--mixin-QvySFLPa8yP2_border-bottom-width)
    var(--mixin-QvySFLPa8yP2_border-bottom-style)
    var(--mixin-QvySFLPa8yP2_border-bottom-color);
  border-left: var(--mixin-QvySFLPa8yP2_border-left-width)
    var(--mixin-QvySFLPa8yP2_border-left-style)
    var(--mixin-QvySFLPa8yP2_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6ka_JO_RUNsx_display);
  flex-direction: var(--mixin-6ka_JO_RUNsx_flex-direction);
  align-items: var(--mixin-6ka_JO_RUNsx_align-items);
  justify-content: var(--mixin-6ka_JO_RUNsx_justify-content);
  list-style-position: var(--mixin-6ka_JO_RUNsx_list-style-position);
  padding-left: var(--mixin-6ka_JO_RUNsx_padding-left);
  position: var(--mixin-6ka_JO_RUNsx_position);
  list-style-type: var(--mixin-6ka_JO_RUNsx_list-style-type);
  flex-column-gap: var(--mixin-6ka_JO_RUNsx_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-MX9wKnitwcWh_display);
  flex-direction: var(--mixin-MX9wKnitwcWh_flex-direction);
  align-items: var(--mixin-MX9wKnitwcWh_align-items);
  justify-content: var(--mixin-MX9wKnitwcWh_justify-content);
  list-style-position: var(--mixin-MX9wKnitwcWh_list-style-position);
  padding-left: var(--mixin-MX9wKnitwcWh_padding-left);
  position: var(--mixin-MX9wKnitwcWh_position);
  list-style-type: var(--mixin-MX9wKnitwcWh_list-style-type);
  flex-column-gap: var(--mixin-MX9wKnitwcWh_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-K812YaIruCX0_color);
  font-size: var(--mixin-K812YaIruCX0_font-size);
  font-weight: var(--mixin-K812YaIruCX0_font-weight);
  line-height: var(--mixin-K812YaIruCX0_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-fR1Qs6XQFFja_color);
  font-size: var(--mixin-fR1Qs6XQFFja_font-size);
  font-weight: var(--mixin-fR1Qs6XQFFja_font-weight);
  line-height: var(--mixin-fR1Qs6XQFFja_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bAWJIIYw_d6__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
